<h1>New Producto Adjunto</h1>

<%= render 'form', producto_adjunto: @producto_adjunto %>

<% if !current_user.nil? %> 
	<% if current_user.user_role? %>
  		<%= link_to 'Back', producto_adjuntos_path %>
	<% end %>
<% end %>

