<p>
  <strong>Producto:</strong>
  <%= @producto_adjunto.producto_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @producto_adjunto.avatar %>
</p>

<% if !current_user.nil? %> 
	<% if current_user.user_role? %>
  		<%= link_to 'Edit', edit_producto_adjunto_path(@producto_adjunto) %> |
		<%= link_to 'Back', producto_adjuntos_path %>
	<% end %>
<% end %>

