<div class="panel panel-success">
	<strong class="text-primary"><%= producto.nombre %></strong>
	<p class="text-muted"><%= producto.descripcion.truncate(50) %> &nbsp;<%= link_to "Detalle...", producto, :class => "btn btn-success btn-xs" %></p>
</div>