<div class="panel panel-success">
Resultados de la b&uacute;squeda:
<br>
	<strong><%= producto.nombre %></strong>
	<%= producto.descripcion %>
	-
	<%= link_to "Ver", producto, style:"color:green;text-decoration:underline;" %>
</div>