<p id="notice"><%= notice %></p>

  <% @aboutus.each do |aboutu| %>

    <!-- Main jumbotron -->
    <div class="container-full-bg">
      <div class="container special">
        <div class="jumbotron">
          <center>
            <h1 class="text-primary">¡Bienvenido!</h1>
            <h2 class="text-info">Servicios con calidad</h2>
            <br>
            <p class="text-justify text-muted"><%= aboutu.descripcion %></p>
          </center>
        </div>

        <div>
          <h3 class="text-center text-primary"><br><br>
            Integral GM Sas es la empresa perfecta para su pr&oacute;ximo negocio!
          <br><br></h3>
        </div>

        <div>
          <h2 class="text-center bg-primary"><br>
            Nuestros servicios
            <hr style="width: 10%">
            <div class="row">
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-briefcase" style="font-size: 60px;"></span>
                <h3 class="text-center">Productos</h3><br>
                <p class="text-center">Conozca nuestro portafolio de productos Conozca nuestro portafolio de productosConozca nuestro portafolio de productos</p><br>
                <a href="productos" class="btn btn-default btn-lg">Ver mas...</a>
              </div>

              <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench" style="font-size: 60px;"></span>
                <h3 class="text-center">Servicios</h3><br>
                <p class="text-center">Conozca nuestro portafolio de productos Conozca nuestro portafolio de productosConozca nuestro portafolio de productos</p><br>
                <a href="servicios" class="btn btn-default btn-lg">Ver mas...</a>
              </div>

              <div class="col-sm-4">
                <span class="glyphicon glyphicon-tower" style="font-size: 60px;"></span>
                <h3 class="text-center">Nosotros</h3><br>
                <p class="text-center">Conozca nuestro portafolio de productos Conozca nuestro portafolio de productosConozca nuestro portafolio de productos</p><br>
                <a href="aboutus/1" class="btn btn-default btn-lg">Ver mas...</a>
              </div>
              
            </div>

          <br><br>
          </h2>
        </div>
        
      </div>
    </div>

    <%= link_to 'Show', aboutu %>

    <% end %>
