/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.img {
  height: 100px;
  width:  100px;
  border: dashed gray thin;
  background-repeat: inherit;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
.img_small {
  height: 54px;
  width:  54px;
  border: groove lightgray thick;
  background-repeat: inherit;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
.jumbotron {
  background-color:#428bca !important;
}
.jumbotron p {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Shift', sans-serif
}
.img_integral {
    border: 1px solid lightgray;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #ffffff;
    width: 90px;
    border-radius: 200px;
}
h1 {
  color: #428bca;
  text-shadow: 2px 2px #b3b3b3;
  font-family: Malayalam MN, sans-serif;
}
.glyphlogo {
  color: #428bca;
  margin-top: 15px;
  font-size: 200px;
}
