/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.floating-menu {
  font-family: Malayalam MN, sans-serif;
  background: transparent !important;
  padding: 1px;
  width: 40px;
  z-index: 100;
  margin-top: 1px;
  margin-right: 0px;
  right: 0px;
  position: fixed;
}

.floating-menu a, 
.floating-menu h3 {
  font-size: 1.6em;
  display: block;
  margin: 0 0.1em;
  color: #428bca;
}

#mySidenav a {
  position: absolute;
  right: -740px;
  transition: 0.3s;
  padding: 10px;
  width: 780px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 5px 0px 0px 5px;
}

#mySidenav a:hover {
  right: 0;
}

#blog {
  top: 48px;
  background-color: #428bca;
}

.jumbotronx {
  background-color: #c3daee;
  color: #275d8b;
  text-shadow: 2px 2px #b3b3b3;
  padding: 100px 25px;
  font-weight: 400;
  font-family: Malayalam MN, sans-serif;
}

h1 {
  color: #428bca;
  text-shadow: 2px 2px #b3b3b3;
  font-family: Malayalam MN, sans-serif;
}

.container-fluid {
  padding: 60px 50px;
}

.navbar {
  margin-bottom: 0;
  background-color: #c3daee;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: Malayalam MN, sans-serif;
}

.navbar-nav {
  margin: 0;
}

.navbar-logo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1051;
}
.navbar-logo:hover {
  background: none !important;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 40px;
  height: 40px;
  padding-top: 0;
  color: #428bca !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar.navbar.navbar-fixed-top li > a:hover {
  color: #428bca;
  background-image: -webkit-linear-gradient(top, #ddf8ff 0%, #dae7ea 100%);
  background-image: linear-gradient(to bottom, #ddf8ff 0%, #dae7ea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdfdfdf', GradientType=0);
  letter-spacing: 0px;
  text-shadow: 1px 1px #4286f4;
}
.carousel-indicators li {
  border-color: #428bca;
}
.carousel-indicators li.active {
  background-color: #428bca;
}
.carousel-control {
  &.left, &.right {
    background: none !important;
    filter:none !important;
    @include reset-filter();
  }
}

.img-rounded:hover {
  background-image: -webkit-linear-gradient(top, #ddf8ff 0%, #dae7ea 100%);
  background-image: linear-gradient(to bottom, #ddf8ff 0%, #dae7ea 100%);
}

a:hover {
  background-color: #428bca;
  color: white;
  letter-spacing: 0px;
  text-shadow: 1px 1px #4286f4;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}